<h1>Listing Orders</h1>
 
<table>
  <tr>
    <th>article_id</th>
    <th>name</th>
    <th>desc</th>
    
 </tr>


  <% @order.each do |order| %>
 
 <tr>
    <td><%= order.article.name%></td>
      <td><%= order.name %></td>
       <td><%= order.desc %></td>
       <td><%= link_to 'delete', order , method: :delete, data: {confirm: 'Are you sure?'} %></td>
   </tr>

  
   <% end -%>
</table>
<%= link_to 'Back', articles_path %>

